<html>
<div>
    <form method="POST" id="create">
        <h1>Productos</h1>
        <div>
               <label style="width: 200px">Title</label>
               <input id="title" type="text" name="title" />
        </div>
        <br/>
        <div>
               <label style="width: 200px">Price</label>
               <input id="price" type="text" name="price" />
        </div>       
        <br/>       
        <div>
               <label style="width: 200px">Thumbnail</label>
               <input id="thumbnail" type="text" name="thumbnail" />
        </div>
        <br/>
        <div>
                <button type="submit">Submit</button>
                <input type="button" onclick="window.location.href = 'http://localhost:8080/productos';" value="Go To Product List"/>
        </div>        
    </form>
    <form method="POST" id="list">
        <p>List of Products</p>        
        <div id="product-list"></div>
    </form>
    <form method="POST" id="chat">
        <h1>Centro de Mensajes</h1>
        <div>
            <input type="text" id="email" placeholder="Tu Email" >                    
            <br/>
            <input type="text" id="firstName" placeholder="Tu Nombre" >                                
            <br/>            
            <input type="text" id="lastName" placeholder="Tu Apellido" >                                
            <br/>            
            <input type="text" id="age" placeholder="Tu Edad" >        
            <br/>            
            <input type="text" id="nickName" placeholder="Tu Alias" >                    
            <br/>
            <input type="text" id="avatar" placeholder="Tu Avatar" >                                
        </div>        
        <br/>        
        <div id="message-list"></div>
        <br/>
        <input type="text" id="text" placeholder="Ingresa tu mensaje" >
        <input type="submit" value="Enviar">
    </form>    
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>
<script>
    const formCreate = document.getElementById('create');
    const formChat = document.getElementById('chat');
    const socket = io.connect();
    const { schema, normalize, denormalize } = normalizr;    

    formCreate.onsubmit = function(e) {
        e.preventDefault();
        addProduct(e);
    }

    formChat.onsubmit = function(e) {
        e.preventDefault();
        addMessage(e);
    }    
    
    function addProduct(e) {
        const product = {
            title: document.getElementById("title").value,
            price: document.getElementById("price").value,
            thumbnail: document.getElementById("thumbnail").value,
        };

        document.getElementById("title").value = "";
        document.getElementById("price").value = "";
        document.getElementById("thumbnail").value = "";                
        socket.emit("new-product", product);
        return false;
    }    

    function addMessage(e) {
        let id = document.getElementById("email").value;
        let firstName = document.getElementById("firstName").value;        
        let lastName = document.getElementById("lastName").value;
        let age = document.getElementById("age").value;
        let nickName = document.getElementById("nickName").value;
        let avatar = document.getElementById("avatar").value;
        let validationEmail = validateEmail(id);
        if (!validationEmail) return;    

        const message = {
            author: {
                id: id,
                firstName: firstName,            
                lastName: lastName,
                age: age,
                nickName: nickName,
                avatar: avatar,            
            },
            text: document.getElementById("text").value,
            date: dateWithFormat(new Date()),            
        };

        document.getElementById("firstName").value = "";
        socket.emit("new-message", message);
        return false;
    }

    socket.on("product-list", (data) => {
        renderProductList(data);
    });

    socket.on("message-list", (data) => {
        renderMessageList(data);
    });

    async function renderProductList(data) {
        if (data.length === 0) {
            document.getElementById("product-list").innerHTML = `<p>No hay Productos</p>`;
            return;                    
        }
        const html = data
            .map((element, index) => {
            return `<tr>
                        <td>${element.nombre}</td> 
                        <td>${element.precio}</td>                
                        <td><img src="${element.foto}"></td>
                    </tr>`;
            })
            .join(" ");
        let template = await (await fetch('static/table.html')).text();
        template = template.replace('${html}', html);
        document.getElementById("product-list").innerHTML = template;
    }

    function renderMessageList(data) {
        // Definimos un esquema de autores
        const authorSchema = new schema.Entity("author", {}, { idAttribute: 'id' });

        // Definimos un esquema de mensajes
        const messageSchema = new schema.Entity("message", { 
            author: authorSchema
        });

        const denormalizedMessage = denormalize(
            data.result,
            [messageSchema],
            data.entities
        );

        const html = denormalizedMessage
            .map((element, index) => {
            return `<div>
                        <label style="color:blue;">${element._doc.author.id}</label><label style="color:#A52A2A;"> [${element._doc.date}]</label>:
                        <em style="color:#00FF00;">${element._doc.text}</em> 
                    </div>`;
            })
            .join(" ");
        document.getElementById("message-list").innerHTML = html;
    }    

    function dateWithFormat(date) {
        let dateStr =
        ("00" + (date.getMonth() + 1)).slice(-2) + "/" +
        ("00" + date.getDate()).slice(-2) + "/" +
        date.getFullYear() + " " +
        ("00" + date.getHours()).slice(-2) + ":" +
        ("00" + date.getMinutes()).slice(-2) + ":" +
        ("00" + date.getSeconds()).slice(-2);
        return dateStr;
    }

    function validateEmail(email) 
    {
           var re = /\S+@\S+\.\S+/;
           if(email.match(re))
           {
           return true;
           }
           else
           {
           alert('Correo: Please introduce correct format');
           return false;
           }              
    }    

</script>
</html>